body{
  background-color: rgb(143 188 143 / 50%);
  display:block;
  margin:10px;
}
.mws{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.history{
  display: block;
  margin: auto;
}
.sitar,
.uni{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  background-color: rgb(105 105 105 / 75%);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  overflow: hidden;
  width: 100%;
  position: relative;
}
li{
  background-color: rgb(105 105 105 / 75%);
  margin: 0;
  padding: 0;
  display: line;
  float: left;
}
ul{
  background-color: rgb(105 105 105 / 75%);
  margin: 0;
  padding: 0;
  background-color: rgb(105 105 105 / 75%);
  width: 100%;
}
ul{
  background-color: rgb(105 105 105 / 75%);
  margin: 0;
  padding: 0;
  background-color: rgb(105 105 105 / 75%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overlofw: hidden;
  wdth: 100%;
}
li, .lin {
  display: block;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}
li{
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.YTLinks{
display:block;
list-style-type: circle;
background: none;
border: none;
}
a:link{ text-decoration: none;}
.current{
  background-color: red;
}
.main {
  margin-top: 120px;
}
p{
  margin-top: auto;
  text-align: center;
  border:solid;
  border: 2px lightsteelblue;
  font-size: 20px;
  font-weight:normal;
  font-family: "Times";
}

h1{
  display: block;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  font-size: 50px
  font-weight:bold;
  font-family: "Arial";
}

.hist2{
  margin-top:25px;
  padding: 60px;
  text-align: center;

}
