body{
  background-color: rgb(143 188 143 / 50%);
  display:block;
  margin:10px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100 149 237 / 75%);
  display: block;
}
li{
  display: inline;
  float: left;
}
.current{
  background-color: red;
}
nav{
  display:block;
  border:3px;
  border:solid;
  border-color: red;
  float: left;
  background-color: rgb(100 149 237 / 75%);
  border-top-right-radius:initial;
}
p{
  text-align: center;
  border:solid;
  border: 2px lightsteelblue;
  font-size: 20px;
  font-weight:normal;
  font-family: "Times";
}

h1{
  font-size: 50px
  font-weight:bold;
  font-family: "Arial"
}
