body{
  background-color: rgb(143 188 143 / 50%);
  display:block;
  margin:10px;
}
nav{
  background-color: rgb(100 149 237 / 75%);
  margin: 0;
  padding: 0;
  border-color: red;
  list-style-type: none;
}
ul, li {
  list-style-type: none;
  text-decoration: none;
}
.current{
  background-color: red;
}
p{
  text-align: center;
  border:solid;
  border: 2px lightsteelblue;
  font-size: 20px;
  font-weight:normal;
  font-family: "Times";
}

h1{
  font-size: 50px
  font-weight:bold;
  font-family: "Arial"
}
